<!DOCTYPE html>
<html>
	
<head>
<title>Sign in</title>
<meta http-equiv="Content-Type"
content="text/html; charset=UTF-8">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link th:href="@{css/profile.css}" rel="stylesheet" type="text/css" >
</head>

<body>



	
<header>
	<div class="header-logo">
		<p>My Portfolio</p>
	</div>
	<a class="btn-white" href="#">ログイン</a>
</header>

<h3>新規登録</h3>

<form th:action="@{/signin}" th:object="${userAddRequest}" th:method="post">
	<style>.err { color:red }</style>
	<div class="input">
	  <label class="name">氏名</label>
	  <input type="text" th:field="*{name}" class="input">
	  <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" th:errorclass="err"/>
	  	    <label class="text-danger" th:text="${error}"></label>
	  	</div>
	</div>
	<div class="input">
	  <label class="mail">メールアドレス</label>
	  <input type="text" th:field="*{email}" class="input">
	  <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" th:errorclass="err"/>
	  	    <label class="text-danger" th:text="${error}"></label>
	  	</div>
	</div>
	<div class="input">
	  <label class="pass">パスワード</label>
	  <input type="password" th:field="*{password}" class="input">
	  <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" th:errorclass="err"/>
	  	    <label class="text-danger" th:text="${error}"></label>
	  	</div>
	</div>
	<div class="btn">
	  <input type="submit" value="登録する" class="btn-blue" >
	</div>
</form>

<footer>
	<p>portfolio site</p>
</footer>

</body>
</html>
